<div class="chat-container" id="chat-page">
    <div class="chat-area">
        <div class="chat-area" id="chat-messages">
            <p>{{selectedUserName}}</p>
            <app-messages></app-messages>
        </div>
        <form id="messageForm" name="messageForm" (ngSubmit)="OnSubmit()">
            <div class="message-input">
                <input autocomplete="off" type="text" id="message" name="message" placeholder="Type your message..." [(ngModel)]="chatMessage">
                <button type="submit" class="send_btn">Send</button>
            </div>
        </form>
    </div>
</div>
